nav{
    background-color: white;
    position:fixed;
    top: 0;
    width:100%;
    box-shadow: 0px 0px 5px #999890;
}


#name{
    text-align: center;
}
#icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    border-radius: 100%;
    width: 200px;
    height: 200px;
}
#contactButton{
    display: block;
    margin-left: auto;
    border-radius:50px;
    cursor: pointer;
    /* padding: 0px 30px; */
    padding: 0rem 3.2rem;
    border-color: #e47e5e;
    border-width: 5px;
    /* border-style: solid; */
}
#contactButtonText{
    font-family: "Courier";
    font-size: 1.5rem;
}

#name{
    font-size: 3em;
    font-family: "Rock Salt";
}
#topDiv{
    padding: 3.5rem;
    /* background-color: #d2e3ec; */
}
#about{
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    background-color: #d2e3ec;
    
  
}
#aboutHeader{
    text-align: center;
    font-size: 2em;
    /* font-family: "Press Start 2P"; */
    font-family: "Courier";
    width: fit-content;
    display:flexbox;
}
#aboutDescription{
    /* margin-right: auto;
    margin-left: auto; */
    text-align:center;
    font-size:1rem;
    font-family: 'Roboto Mono', monospace;


}

#aboutHeaderDiv{
    width:fit-content;
    margin-right: auto;
    margin-left: auto;
}

.typewriter h2{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid black; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: normal; /* Adjust as needed */
    animation: 
      typing 4s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
  }




.parent {
    
    display:flex;
    margin:auto;
    justify-content: center;
    column-gap: 50px;
    /* border-style:solid; */
    text-align: center;
    width:fit-content;
    flex-wrap:wrap;
}


.cell { 
    background-color: white;
    border-radius: 5%;
    display: inline-flex;
    width: 350px;
    min-width: fit-content;
    flex-direction: column;
    box-shadow: 10px 10px #71807d;
}

.cellHeader{
    text-align:center;
    font-family: 'Orbitron', sans-serif;
    font-weight:10px;
}

.item{
    display:grid;
    grid-template-columns: auto auto;
    padding:1rem;

}
.itemImage{
    /* display:flex; */
    width:3rem;
    padding-left:1rem;
    padding-right:1rem;
    display:inline-flex;
}
.itemName{
    display:inline-flex;
    margin:auto;
    margin-left:0px;
    font-family: 'Source Code Pro', monospace;
}
.itemsList{
    display:block;
    padding-inline-start: 0px;
    /* justify-content: space-between; */
}
.blueColor{
    background-color: #d2e3ec;
    padding: 3.5rem;
}

#projectHeader{
    font-size: 2.5em;
    font-family: "Rock Salt";
    text-align: center;

    display: grid;
    grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
    align-items: center;
    text-align: center;
    grid-gap: 20px;
    width: 100%;
}

#projectHeader:before,
#projectHeader:after {
    content: '';
    border-top: 2px solid;
    border-color: #e47e5e;
}