nav{
    background-color: white;
    position:fixed;
    width:100%;
    display:flex;
    justify-content: center;
    text-align: center;
    height:100px;
}

#nameNav{
    /* font-size: 3em; */
    font-family: "Rock Salt", Sans-Serif;
    position:absolute;
}

#contactButton{
    width: fit-content ;
    border-radius:50px;
    cursor: pointer;
    padding: 0rem 3.2rem;
    border-color: #e47e5e;
    border-width: 5px;
    margin-left:auto;
    /* display:flex; */
    white-space:nowrap;
    right: 0;
    position:absolute;
    top:5px;
    background-color: white;

    font-family: "Courier", Sans-Serif;
    font-size: 1.5rem;
    text-align: center;

    height:75px;
    top:10px;

    /* p */

    /* display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
}

a { 
    text-decoration: none;
    color:black;
}

#name{
    text-align: center;
    font-size: 3em;
    font-family: "Rock Salt", Sans-Serif;
}
#icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    border-radius: 100%;
    width: 200px;
    height: 200px;
}


#topDiv{
    padding: 3rem;
}
#about{
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    background-color: #d2e3ec;
    
  
}
#aboutHeader{
    text-align: center;
    font-size: 2em;
    font-family: "Courier", Sans-Serif;
    width: fit-content;
    display:flexbox;
}
#aboutDescription{
    text-align:center;
    font-size:1rem;
    font-family: 'Roboto Mono', monospace;
    padding:2rem;


}

#aboutHeaderDiv{
    width:fit-content;
    margin-right: auto;
    margin-left: auto;
}

.typewriter h2{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid black; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: normal; /* Adjust as needed */
    animation: 
      typing 4s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
  }




.parent {
    
    display:flex;
    margin:auto;
    justify-content: center;
    column-gap: 50px;
    /* border-style:solid; */
    text-align: center;
    width:fit-content;
    flex-wrap:wrap;
}


.cell { 
    background-color: white;
    border-radius: 5%;
    display: inline-flex;
    width: 350px;
    min-width: fit-content;
    flex-direction: column;
    box-shadow: 10px 10px #71807d;
    margin-top:15px;
    margin-bottom:15px;
}

.cellHeader{
    text-align:center;
    font-family: 'Orbitron', sans-serif;
    font-weight:10px;
}

.item{
    display:grid;
    grid-template-columns: auto auto;
    padding:1rem;
    margin: auto;

}

ul li p{
    position:relative;
    top:10px;
}

ul li p:hover{
    transform: scale(1.1);
}
.itemImage{

    width:3rem;
    padding-left:1rem;
    /* padding-right:1rem; */
    display:inline-flex;
}
.itemName{
    display:inline-flex;
    margin:auto;
    margin-left:0px;
    font-family: 'Source Code Pro', monospace, Sans-Serif;
}
.itemsList{
    display:block;
    padding-inline-start: 0px;

}
.blueColor{
    background-color: #d2e3ec;
    padding: 3.5rem;
    /* width:100%; */
}

#projectHeader{
    font-size: 2.5rem;
    font-family: "Rock Salt", Sans-Serif;
    text-align: center;
    /* margin:0px; */
    display: grid;
    grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
    align-items: center;
    text-align: center;
    grid-gap: 20px;
    /* width: 100%; */
    background-color: white;
    
}

#projectHeader:before,
#projectHeader:after {
    content: '';
    border-top: 2px solid;
    border-color: #e47e5e;
}


.projectItem{

    margin: auto;
    display: grid;
    grid-template-columns: auto 40%;
    max-width: 1150px;
    margin-bottom: 125px;
    
}

.projectItem img:not(.GitHubImg){
    width: 100%;
    box-shadow: 12px 12px #e47e5e;
}

.GitHubImg{
    width:30px;
    padding-left: 20px;
    display:inline;
}

.projectTop{
    display:flex;
    align-items: center;
}

.projectSection{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3%;
}

.projectName{
    font-family: 'Orbitron', sans-serif;
    font-weight:10px;
    display:inline;
    text-decoration: underline;
}

.projectDescription{
    font-family: 'Source Code Pro', monospace, Sans-Serif;
    color: #71807d;
}

.content .sticky-div {
    position: sticky;
    top: 0;
    /* width:100%; */
}

.BeforeScroll{
    display:none;
    animation: fadeOut 2s;
}
.AfterScroll{
    display: inline;
    animation: fadeIn 2s;

}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.boxShadow{
    box-shadow: 0 3px 3px -2px lightgray;
}
  .discordImg{
    width:80px;
    padding-right:20px;
    padding-left:20px;
  }

  #bottomDiv{
    text-align: center;
  }

  #discordTag{
    font-family:"Press Start 2P", Sans-Serif;
    font-size: 16px;
  }
  
  .discordDiv{
    display:block;
  }

#bottomDiv p{
    font-family: 'Source Code Pro', monospace, Sans-Serif;
}

#confettiButton{
    background-color: white;
    border-color: #e47e5e;
    border-radius:20%;
}